<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bscss/bootstrap.min.css">

    <script src="/bsjs/bootstrap.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <title>Página inicial</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">Negritude em Debate</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/nossaEquipe">Conheça nossa equipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/album">Mostra Fotográfica Beleza Negra Resiste</a>
            </li>
        </ul>
    </nav>

</body>
</html>