<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bscss/bootstrap.min.css">

    <script src="/bsjs/bootstrap.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <title>Nossa Equipe</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">Negritude em Debate</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/nossaEquipe">Conheça nossa equipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/album">Mostra Fotográfica Beleza Negra Resiste</a>
            </li>
        </ul>
    </nav>

    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Nossa equipe</h1>
        <p class="lead">Conheça nossa equipe.</p>
    </div>


    <div class="container">
        <div class="row mb-5">
            <div class="col-md-3">
                <div class="card mb-3">
                    <img class="img-thumbnail mb-2" src="/publico/img/fabio.png">
                    <div class="card-body">
                        <h4 class="card-title">Prof Fabio</h4>
                        <p>Possui graduação em Engenharia da Computação, especialização em Docência e Licenciatura Pedagógica em História.</p> 
                        <p></p>Atualmente é professor efetivo no IFMS na área de Desenvolvimento/Desenvolvimento Web e membro do NEABI. É ativista em movimentos sociais e amante das artes, em especial, a música.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img class="img-thumbnail mb-2" src="/publico/img/Ana Paula.jpeg">
                    <div class="card-body">
                        <h4 class="card-title">Ana Paula</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img class="img-thumbnail mb-2" src="/publico/img/Cafola.jpg">
                    <div class="card-body">
                        <h4 class="card-title">Diego Aparecido Cafola</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <img class="img-thumbnail mb-2" src="/publico/img/Thamires.jpeg">
                    <div class="card-body">
                        <h4 class="card-title">Thamires</h4>
                    </div>
                </div>
            </div>
            


</body>

</html>