<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bscss/bootstrap.min.css">

    <script src="/bsjs/bootstrap.min.js"></script>
    <script src="/popperjs/popper.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <title>Nossa Equipe</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">Negritude em Debate</a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/nossaEquipe">Conheça nossa equipe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/album">Mostra Fotográfica Beleza Negra Resiste</a>
            </li>
        </ul>
    </nav>

    <div class="bg-light p-5 rounded-lg m-3">
        <h1 class="display-4">Nossa equipe</h1>
        <p class="lead">Conheça nossa equipe.</p>
    </div>

    <img src="/src/publico/img/logo ifms.png" alt="" id="sobre">

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec condimentum ligula dapibus tellus malesuada, scelerisque placerat magna vulputate. Duis accumsan lacus ut leo rhoncus, et maximus diam aliquet. Cras mattis luctus velit, ac ultricies
            turpis dictum non. Ut feugiat lorem massa, vitae congue tellus fermentum laoreet. In cursus erat tellus, cursus maximus mauris commodo et. Curabitur nec porttitor nisl. Duis rhoncus nunc ut maximus convallis. Vivamus ultrices quam vel leo
            cursus mattis at nec tellus. </p>
        <p>Duis ultricies sapien at efficitur tristique. In ultricies eget eros sed vulputate. Sed posuere, sapien a mattis malesuada, tellus risus sagittis mauris, eget sodales est urna vel tortor. Cras mollis sem aliquam libero vulputate luctus vitae id
            nibh. Donec auctor sit amet enim non scelerisque. Nam cursus sapien quis neque ullamcorper facilisis. Nulla facilisi. Nunc pulvinar ante at odio sagittis aliquam. Curabitur posuere, mi nec ullamcorper varius, sem dui scelerisque dolor, ut
            mattis ligula est vel lacus. Nullam et lectus metus. Maecenas quis elit nibh.</p>
        <p>Praesent eu purus faucibus, faucibus lorem at, tincidunt urna. Vestibulum sed massa iaculis, feugiat erat quis, vulputate urna. Donec bibendum quam ac accumsan convallis. Fusce lacinia malesuada dui nec ultricies. Nulla efficitur nisl nec placerat
            mattis. Ut tincidunt nunc at est fermentum auctor. Vivamus ultrices lectus fringilla turpis sollicitudin, sed tincidunt diam faucibus. Aenean viverra ante tortor, vitae pretium nibh iaculis eu. Sed non dolor libero. Vivamus gravida nibh magna,
            at aliquet mi blandit eu.</p>
        <p>Cras non nisi at sapien efficitur bibendum non nec diam. Maecenas porttitor libero vulputate mi consectetur feugiat. Curabitur et rutrum nisl, vitae condimentum mi. Curabitur sem neque, elementum lacinia risus quis, ultrices fringilla nisi. Phasellus
            viverra id lectus a elementum. Sed odio ipsum, accumsan eu placerat vulputate, commodo eu lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas nec eleifend magna. Mauris augue ante, sagittis non turpis in, finibus
            faucibus tortor. Proin purus mauris, egestas id velit et, tempor mattis metus. Vivamus ac commodo diam. Nullam at malesuada lacus, nec vestibulum urna. Etiam id augue ullamcorper, rhoncus lorem a, ornare mauris. Praesent volutpat luctus felis,
            in fermentum nisl molestie vel. Fusce ut eros urna. Nulla id placerat lectus.</p>
        <p>Curabitur congue augue id dolor tempus, ac blandit eros maximus. Suspendisse sodales nibh ut dolor efficitur, sed consectetur dolor tempor. Donec ac tincidunt dolor. Donec quis pulvinar velit. Aliquam ac lorem convallis, dapibus ipsum quis, laoreet
            arcu. Mauris eget efficitur ante. Curabitur condimentum at mauris vel porta. Mauris a rutrum est. Sed ac quam eget tellus vehicula hendrerit non eu leo. Fusce facilisis augue vitae erat semper, sit amet bibendum odio tincidunt. Aliquam erat
            volutpat. Aenean imperdiet, leo sed pellentesque placerat, metus ante elementum sem, sit amet tempus orci orci ultrices dolor.</p>
    </div>

</body>

</html>